$blueColor: rgb(87, 167, 237);
$darkBlueColor: #4579b2;
$whiteColor: antiquewhite;
$thickBorder: 3px solid #333;
$thinBorder: 1px solid $blueColor;
$borderRadius: 5px;
$boxShadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
$highLight: rgb(160, 165, 172);

.postList {
  display: grid;
  grid-template-columns: 30% 70%;
}
.scrollArea {
  max-height: 65vh;
  overflow: scroll;
}
.activeItem,
.activePost {
  background-color: $blueColor;
  div {
    color: #fff;
  }
}
.postCard {
  width: 90%;
  height: 80px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border: 1px solid $blueColor;
  transition: all 0.3s ease-in;
  color: #333;
  text-align: left;
  padding: 5px;

  transform: scale(0.98);
  &:hover {
    background-color: $blueColor;
    cursor: pointer;
    color: $whiteColor;
    font-weight: bold;
    box-shadow: $boxShadow;
    transform: scale(1);
  }

  .cardBody {
    padding: 10px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 60% 40%;

    .imageBlock {
      width: 100%;
      height: auto;
    }
  }
}
.postImg {
  width: 100%;
  height: auto;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.postDetails {
  border: 1px solid $blueColor;
  width: 90%;
  height: 65vh;
  max-height: 65vh;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  transition: all 0.3s ease-in;

  label {
    text-align: left;
    font-weight: bold;
    display: block;
    color: $darkBlueColor;
  }
  .item {
    max-width: 70%;
    text-align: left;
    padding: 5px;
    margin-left: 10px;
  }
  .urlBlock {
    height: 150px;
    overflow: scroll;
  }
  .postName {
    color: $whiteColor;
    text-align: left;
    padding: 20px;
    font-weight: bold;
  }
  .detailHeader {
    height: 60px;
    background-color: $blueColor;
    color: $whiteColor;
  }
  .detailBody {
    padding: 10px;
    .postDesc {
      height: 250px;
      overflow: scroll;
      color: $blueColor;
      margin: 20px 0 20px 0;
    }
  }
  .postLabel {
    color: $darkBlueColor;
  }
}
